In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
filelist = ['File1.txt',"File2.txt","File3.txt","File4.txt","File5.txt","File6.txt"]
df= pd.concat([pd.read_table(item,delim_whitespace=True,names=("Meter_ID","Data_time","Consumption(Khw)")) for item in filelist])
df.to_pickle(".data.pkl")

In [2]:
dd=pd.read_pickle(".data.pkl")
dd.info()
dd.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157992996 entries, 0 to 35436011
Data columns (total 3 columns):
Meter_ID            int64
Data_time           int64
Consumption(Khw)    float64
dtypes: float64(1), int64(2)
memory usage: 4.7 GB

   Meter_ID  Data_time  Consumption(Khw)
0      1392      19503             0.140
1      1392      19504             0.138
2      1392      19505             0.140
3      1392      19506             0.145
4      1392      19507             0.145

In [ ]:
# dd.astype({'Data_time':'str'})