In [2]:
import pandas as pd
import numpy as np
import os

In [11]:
df=pd.read_table("File1.txt",delim_whitespace=True,names=("Meter_ID","Data_time","Consumption(Khw)"))
# df = pd.read_table('./input/dists.txt', delim_whitespace=True, names=('A', 'B', 'C'))
# dtype={'A': np.int64, 'B': np.float64, 'C': np.float64})

In [18]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24465838 entries, 0 to 24465837
Data columns (total 3 columns):
Meter_ID            int64
Data_time           int64
Consumption(Khw)    float64
dtypes: float64(1), int64(2)
memory usage: 560.0 MB

   Meter_ID  Data_time  Consumption(Khw)
0      1392      19503             0.140
1      1392      19504             0.138
2      1392      19505             0.140
3      1392      19506             0.145
4      1392      19507             0.145